{{#if user}}
	<p>Hello, {{user.username}}.</p>
	<p>View your <a href="/profile">profile</a>.</p>
{{else}}
	<p>Please <a href="/login">log in</a> or <a href="/signup">sign up</a>.</p>
{{/if}}
	<p>Read <a href="/articles">articles</a>.</p>
