doctype html
html(lang="en")
    head
        title MEAN CMS
        base(href="/")
        link(rel="stylesheet", type="text/css", href="/node_modules/normalize.css/normalize.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        script(scr="/node_modules/es6-shim/es6-shim.min.js")
        script(src="/node_modules/systemjs/dist/system-polyfills.js")
        script(src="/node_modules/angular2/bundles/angular2-polyfills.js")
        script(src="/node_modules/systemjs/dist/system.src.js")
        script(src="/node_modules/rxjs/bundles/Rx.js")
        script(src="/node_modules/angular2/bundles/angular2.dev.js")
        script(src="/node_modules/angular2/bundles/router.dev.js")
        script(src="/node_modules/angular2/bundles/http.dev.js")
        script.
            System.config({
                packages: {        
                    app: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('/app/js/boot').then(null, console.error.bind(console));

    body(id="root", data-user="#{!!user}")
        block content
            my-app Loading...
